h1{
    color:green;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body{
    background:rgb(0, 0, 255);
}
li{color: teal;}

img {
    height: 10em;
    float: left;
    padding-right: 1.5em;
}
p{
    font-family: fantasy;
}